[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
ignored_error_codes = [2519,2018,5574,6321,8261]
fs_permissions = [
    { access = "read", path = "./script/templates/" },
    { access = "read-write", path = "./contracts/test-utils/deployers/" }
]

[fmt]
line_length = 100
tab_width = 4
multiline_func_header = "attributes_first"
quote_style = "double"
number_underscore = "thousands"

[rpc_endpoints]
oasys-testnet = "https://rpc.testnet.oasys.games"
oasys-mainnet = "https://rpc.mainnet.oasys.games"

[etherscan]
oasys-testnet = { chain_id = 9372, url = "https://explorer.testnet.oasys.games/api", key = "none" }
oasys-mainnet = { chain_id = 248, url = "https://explorer.oasys.games/api", key = "none" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
